extend index

block pageindex
 
 section.answer
   div.container
    h3.title We answer all questions
    p.text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do  eiusmod tempor incididunt ut labore et.
    div(id="accordionExample" class="accordion questions")
       div.option
        div(id="headingOne" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingTwo" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingThree" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingFor" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseFor" aria-labelledby="headingFor" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingFive" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingSixth" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseSixth" aria-expanded="false" aria-controls="collapseSixth" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseSixth" aria-labelledby="headingSixth" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingSeventh" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseSeventh" aria-expanded="false" aria-controls="collapseSeventh" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseSeventh" aria-labelledby="headingSeventh" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
       div.option
        div(id="headingEighth" class="click-title")
         a(href="#" data-toggle="collapse" data-target="#collapseEighth" aria-expanded="false" aria-controls="collapseEighth" class="d-block position-relative collapsible-link") ACCEPTING INSURANCE CARD?
        div(id="collapseEighth" aria-labelledby="headingEighth" data-parent="#accordionExample" class="collapse")
         p.all-text Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor Incididunt Ut Labore Et. Consectetur Adipiscing Elit, Sed Do Eiusmod Tempor
 