extend index

block pageindex
 
 section.findtutor 
  div.container
   div.content-all
     div.row
      div.col-sm-8#content.contenuser.findinner
         div.itemtutor
           div.flex-box
            div.tu-photo
             div.img
              span.featured Featured
              //a(href="#" class="fas fa-heart")
              span.online
              img(src='assets/images/profile-1.png' alt="Arabia" title="Arabia") 
             div.price EGP 315.03
             div.price-to EGP/H
             //- div.fild.bot-de.bot-card
             //-   a(href="#" class="bottom") Book Free Trial
             //-   a(href="#" class="bottom") Send Message
            div.tu-content
             div.minhead
              h3.title Gary E.
              div.flag
               img(src='assets/images/fleg.png' alt="Arabia" title="Arabia")
              div.safy
               svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16.436" height="19.301" viewBox="0 0 16.436 19.301")
                defs 
                 linearGradient(id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox")
                  stop(offset="0" stop-color="#ba9a74")
                  stop(offset="1" stop-color="#877456")
                g(id="surface1" transform="translate(0 0.001)")
                  path(id="Path_28769" data-name="Path 28769" d="M124.119,158.457a3.677,3.677,0,1,0,3.677,3.677A3.682,3.682,0,0,0,124.119,158.457Zm2.183,2.985-2.635,2.635a.566.566,0,0,1-.8,0l-1.007-1.007a.566.566,0,1,1,.8-.8l.606.606,2.234-2.234a.566.566,0,0,1,.8.8Zm0,0" transform="translate(-115.901 -152.485)" fill="url(#linear-gradient)")
                  path(id="Path_28770" data-name="Path 28770" d="M16.417,5.236V5.221c-.008-.185-.014-.382-.017-.6a2.046,2.046,0,0,0-1.926-2A7.938,7.938,0,0,1,9.07.34L9.058.328a1.235,1.235,0,0,0-1.679,0L7.366.34a7.939,7.939,0,0,1-5.4,2.277,2.045,2.045,0,0,0-1.926,2c0,.217-.009.413-.017.6v.035a20.918,20.918,0,0,0,.845,7.635A9.72,9.72,0,0,0,3.2,16.523a12.2,12.2,0,0,0,4.563,2.7,1.413,1.413,0,0,0,.187.051,1.381,1.381,0,0,0,.543,0,1.418,1.418,0,0,0,.188-.051,12.206,12.206,0,0,0,4.558-2.7,9.733,9.733,0,0,0,2.332-3.633A20.949,20.949,0,0,0,16.417,5.236Zm-8.2,9.224a4.81,4.81,0,1,1,4.81-4.81A4.815,4.815,0,0,1,8.218,14.46Zm0,0" transform="translate(0)" fill="url(#linear-gradient)")
              ul.rating
               li(class="fas fa-star active")
               li(class="fas fa-star active")
               li(class="fas fa-star active")
               li(class="fas fa-star active")
             h3.title.siz-titl Native English speaker with TEFL and 12 months experience.
             div.minhead.towhead
              div.speaks
               p speaks :
               span Arabic
               strong Native    
              div.speaks
               p speaks :
               span Spanish  
               strong B1           
             a(href="#" class="md-heart")
              img(src='assets/images/md-heart.png' alt="Arabia" title="Arabia")
             div.row
              div.col-sm-4.itemactiv
               div.mactiv
                img(src='assets/images/mactiv1.png' alt="Arabia" title="Arabia")
                div.con-item
                 h4.title Active students
                 span 36 
              div.col-sm-4.itemactiv
               div.mactiv
                img(src='assets/images/clock.png' alt="Arabia" title="Arabia")
                div.con-item
                 h4.title Lessons
                 span 286 
              div.col-sm-4.itemactiv
               div.mactiv
                img(src='assets/images/review.png' alt="Arabia" title="Arabia")
                div.con-item
                 h4.title Reviews
                 span 10 
           
           
           
           div.childbox
            h3.title About Me
            div.headtext
             p.textline  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
             div.onclick
              span.more + Read more
              span.cancel X hide
             p.divhidslid   Every person trying to learn English has a vision of what success looks like when communicating in a professional environment, for academic success or with friends and family. Achieve amazing results with one of the top English teachers rated 4.8 points out of 5 from all over the world it’s really easy to find one to match your learning preferences and fit your busy schedule. Nobody understands students better than a personal tutor and it’s not that expensive to find a tutor online. Why choose the 1-on-1 English class format? At your first class prepare to have a conversation about what you are using English for and about the goals you are hoping to achieve. The teacher will listen to the way you speak to note what you are doing well, to find the problem areas and create a customized learning plan. Select a teacher who’s dedicated to helping each student individually. Just pick a teacher whose teaching style you might like and schedule a trial class for a stimulating conversation in English now!
           div.row
            div.col.std-item
             ul.list-item
              li.great Preferred student age
              - for (var x = 0; x < 4; x++)
                 li #[i(class="fas fa-circle")]  Secondary school (12-17)  
            div.col.std-item
             ul.list-item
              li.great Preferred level of students
              - for (var x = 0; x < 4; x++)
                 li #[i(class="fas fa-circle")]  Secondary school (12-17)  
         div.itemtutor.bord-colo
           h3.title  Schedule
           div.fild 
            i(class="fas fa-chevron-down iconsel")
            select(class="form-control required" name="zone" autocomplete="off"  required)
             option 
             option 11:40 (GMT+3) - Africa, Asmara
             option zone
             option zone
            label.floating-label Time zone  
           div.responsive
            div
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
           
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
            div 
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
            div 
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
           
           div.bot-show
             a(class="bottom view-sce") 
                span.viw-show View Full Scedule  #[i(class="fas fa-angle-down")]
                         
         
         div.itemtutor.reviews
          div.head-rv
           div.text-rev
            h3.title  Reviews
            ul.rating
              li(class="fas fa-star active")
              li(class="fas fa-star active")
              li(class="fas fa-star active")
              li(class="fas fa-star active")
            p.numb-rev #[span 4] Reviews
           a(class="add-rev" href="#addreview" data-toggle="modal") #[i(class="fas fa-plus")]  Add review
          div.allcomint
            - for (var x = 0; x < 3; x++)
               div.comment
                div.photo 
                 img(src="assets/images/profile-1.png" alt="" title="")
                div.content
                 h3.title Mariam Ahmed
                 span.date May 17, 2020 
                 p.text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
            div.hidemore
              - for (var x = 0; x < 3; x++)
                 div.comment
                   div.photo 
                    img(src="assets/images/profile-1.png" alt="" title="")
                   div.content
                    h3.title Mariam Ahmed
                    span.date May 17, 2020 
                    p.text  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet
          div.text-center
           a(class="bottom") 
              span.viw-rev View more  #[i(class="fas fa-angle-down")]
              span.rev-hide hide reviews  #[i(class="fas fa-chevron-up")]
         div.itemtutor.bord-colo
           h3.title  Resume
           ul(class="nav nav-tabs" id="myTab" role="tablist")
            li.nav-item
             a(class="nav-link active" id="education-tab" data-toggle="tab" href="#education"  role="tab" aria-controls="education" aria-selected="true") Education
            li.nav-item
             a(class="nav-link"  id="experience-tab" data-toggle="tab" href="#experience" role="tab" aria-controls="experience"  aria-selected="false") Work experience
            li.nav-item
             a(class="nav-link"  id="certifications-tab" data-toggle="tab" href="#certifications" role="tab" aria-controls="certifications"  aria-selected="false") Certifications
           div(class="tab-content" id="myTabContent")
             div(class="tab-pane fade show active" id="education"  role="tabpanel" aria-labelledby="education-tab") 
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
             div(class="tab-pane fade " id="experience"  role="tabpanel" aria-labelledby="experience-tab") 
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
             div(class="tab-pane fade " id="certifications"  role="tabpanel" aria-labelledby="certifications-tab") 
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
              div.item-edit
               div.date 1993-2006
               div.primary 
                 h5.title Bachelor of Primary Education
                 small Speciality , Degree
                 span.textmap #[i(class="fas fa-check")] Verified
      div.col-sm-4.contenuser.sidbar
       div#sidebar
        div.iframe
         iframe(src="https://www.youtube.com/embed/VctaUNJpT6U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        div.bot-de.bot-card
         a(href="#" class="bottom book-trial") Book Trial Lesson 
         a(href="#sendmessage" data-toggle="modal" class="bottom" ) Send Message 
        p.timezone 
         svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24.229" height="28.2" viewBox="0 0 24.229 28.2")
          linearGradient(id="linear-gradient" x1="0.89" y1="0.843" x2="0.11" y2="0.173" gradientUnits="objectBoundingBox")
           stop(offset="0" stop-color="#ba9a74")
           stop(offset="1" stop-color="#877456")
          path(id="timer" d="M14.048,23.2a11.286,11.286,0,0,1,20.278-8.975.415.415,0,1,0,.683-.473,12.127,12.127,0,0,0-2.768-2.849l1.2-2.089a.415.415,0,0,0-.153-.567l-1.7-.975a.415.415,0,0,0-.567.153l-1.2,2.087a12.1,12.1,0,0,0-3.39-.907V7.344h.842a.415.415,0,0,0,.415-.415V4.972a.415.415,0,0,0-.415-.415H22.8a.415.415,0,0,0-.415.415V6.929a.415.415,0,0,0,.415.415h.842V8.611a12.017,12.017,0,0,0-3.392.9l-1.2-2.085a.415.415,0,0,0-.567-.153l-1.7.975a.415.415,0,0,0-.153.567l1.2,2.089a12.122,12.122,0,0,0-4.6,12.484.415.415,0,0,0,.4.321.43.43,0,0,0,.095-.011A.415.415,0,0,0,14.048,23.2Zm17.489-15,.977.561-.96,1.671c-.317-.2-.64-.392-.975-.564ZM23.22,5.387H26.86V6.513H23.22Zm1.257,1.956H25.6v1.2c-.187-.009-.373-.018-.563-.018s-.376.006-.563.014Zm-6.91,1.422.977-.561.959,1.67q-.5.259-.976.563ZM37.154,20.644A12.114,12.114,0,0,1,15.576,28.2a.415.415,0,1,1,.648-.519,11.287,11.287,0,0,0,19.03-11.848A.415.415,0,0,1,36,15.484a12.014,12.014,0,0,1,1.15,5.159ZM15.084,25.96a.415.415,0,1,1-.732.392c-.176-.329-.338-.669-.483-1.012a.415.415,0,0,1,.765-.322C14.769,25.336,14.921,25.655,15.084,25.96ZM33.157,15.886a.4.4,0,0,0-.024-.032,9.474,9.474,0,0,0-3.346-3.328.359.359,0,0,0-.036-.026l-.042-.019a9.373,9.373,0,0,0-9.385.025l-.042.019-.032.024A9.476,9.476,0,0,0,16.923,15.9a.224.224,0,0,0-.044.077,9.374,9.374,0,0,0,.026,9.385.411.411,0,0,0,.019.042c.005.009.013.016.019.024a9.474,9.474,0,0,0,3.35,3.336.4.4,0,0,0,.036.026c.01.006.022.008.032.014a9.376,9.376,0,0,0,9.405-.027c.01,0,.021-.007.031-.013a.354.354,0,0,0,.032-.024,9.476,9.476,0,0,0,3.335-3.355c.006-.009.014-.016.02-.026a.342.342,0,0,0,.019-.042,9.374,9.374,0,0,0-.026-9.385A.383.383,0,0,0,33.157,15.886ZM29.728,27.821l-.533-.909a.415.415,0,1,0-.716.42l.534.911a8.516,8.516,0,0,1-3.558.968V28.152a.415.415,0,0,0-.83,0v1.059a8.513,8.513,0,0,1-3.514-.947l.529-.914a.415.415,0,1,0-.719-.416l-.528.913a8.644,8.644,0,0,1-2.53-2.516l.91-.533a.415.415,0,1,0-.42-.716l-.911.534a8.516,8.516,0,0,1-.968-3.558h1.059a.415.415,0,1,0,0-.83H16.473a8.516,8.516,0,0,1,.947-3.515l.914.529a.415.415,0,1,0,.416-.719l-.913-.528a8.644,8.644,0,0,1,2.516-2.529l.533.91a.415.415,0,1,0,.716-.42l-.534-.911a8.511,8.511,0,0,1,3.558-.968v1.059a.415.415,0,1,0,.83,0V12.076a8.516,8.516,0,0,1,3.515.946l-.53.914a.415.415,0,1,0,.719.416l.528-.914a8.644,8.644,0,0,1,2.53,2.517l-.91.533a.415.415,0,1,0,.42.716l.912-.534a8.519,8.519,0,0,1,.968,3.558H32.548a.415.415,0,1,0,0,.83h1.059a8.516,8.516,0,0,1-.947,3.514l-.914-.529a.415.415,0,0,0-.416.719l.913.528A8.643,8.643,0,0,1,29.728,27.821ZM31.3,20.643a.415.415,0,0,0-.415-.415h-4a1.9,1.9,0,0,0-1.434-1.434v-4a.415.415,0,0,0-.83,0v4a1.9,1.9,0,1,0,2.264,2.264h4a.415.415,0,0,0,.415-.415ZM25.04,21.709a1.066,1.066,0,1,1,1.066-1.066A1.066,1.066,0,0,1,25.04,21.709Z" transform="translate(-12.925 -4.557)" fill="url(#linear-gradient)")
         | Usually response in: 5 hrs   
    
               
 
 div(id="addreview" class="modal fade" role="dialog")
  div(class="modal-dialog popreview")
   div(class="modal-content")
     button(type="button" class="close" data-dismiss="modal") 
      svg(width="16" height="16" viewBox="0 0 12 12" f  xmlns="http://www.w3.org/2000/svg")
       path(d="M6.66271 6.00002L11.8625 0.800231C12.0455 0.617161 12.0455 0.320349 11.8625 0.137303C11.6794 -0.0457441 11.3826 -0.0457675 11.1995 0.137303L5.99975 5.33709L0.799987 0.137303C0.616917 -0.0457675 0.320105 -0.0457675 0.137058 0.137303C-0.0459882 0.320373 -0.0460117 0.617185 0.137058 0.800231L5.33682 6L0.137058 11.1998C-0.0460117 11.3829 -0.0460117 11.6797 0.137058 11.8627C0.228582 11.9542 0.348558 12 0.468535 12C0.588511 12 0.708464 11.9542 0.800011 11.8627L5.99975 6.66295L11.1995 11.8627C11.291 11.9542 11.411 12 11.531 12C11.651 12 11.7709 11.9542 11.8625 11.8627C12.0455 11.6796 12.0455 11.3828 11.8625 11.1998L6.66271 6.00002Z" fill="#000")
     h3.title Add Review
     form(action="#")
      div.row
       div.col-sm-12.fild
        textarea(class="form-control" name="description" placeholder="Add your review" autocomplete="off" autofocus="" required="" )
        label.floating-label Review
       div.col-sm-12.fild
        h3.title.charact characteristics of a tutor
        div.row
         div.col
          div.rev-item
           p Effectiveness
           ul.stars
            li(class='star' title='' data-value='1') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='2') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='3') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='4') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='5') #[i(class="fas fa-star")]
          div.rev-item
           p Methodology
           ul.stars
            li(class='star' title='' data-value='1') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='2') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='3') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='4') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='5') #[i(class="fas fa-star")]
          div.rev-item
           p Motivation
           ul.stars
            li(class='star' title='' data-value='1') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='2') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='3') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='4') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='5') #[i(class="fas fa-star")]
         div.col
          div.rev-item
           p Interpersonal skills
           ul.stars
            li(class='star' title='' data-value='1') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='2') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='3') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='4') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='5') #[i(class="fas fa-star")]
          div.rev-item
           p Strictness
           ul.stars
            li(class='star' title='' data-value='1') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='2') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='3') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='4') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='5') #[i(class="fas fa-star")]
          div.rev-item
           p Punctuality
           ul.stars
            li(class='star' title='' data-value='1') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='2') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='3') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='4') #[i(class="fas fa-star")]
            li(class='star' title='' data-value='5') #[i(class="fas fa-star")]
     
     
     
     
     
      div.fild.bot-de.bot-card
        button(class="bottom" type="submit") Post Review
        a(href="#" class="bottom" data-dismiss="modal") Cancel 
 
 div(id="sendmessage" class="modal fade" role="dialog" )
  div(class="modal-dialog popreview" style="margin-top: 100px;")
   div(class="modal-content")
     button(type="button" class="close" data-dismiss="modal") 
      svg(width="16" height="16" viewBox="0 0 12 12" f  xmlns="http://www.w3.org/2000/svg")
       path(d="M6.66271 6.00002L11.8625 0.800231C12.0455 0.617161 12.0455 0.320349 11.8625 0.137303C11.6794 -0.0457441 11.3826 -0.0457675 11.1995 0.137303L5.99975 5.33709L0.799987 0.137303C0.616917 -0.0457675 0.320105 -0.0457675 0.137058 0.137303C-0.0459882 0.320373 -0.0460117 0.617185 0.137058 0.800231L5.33682 6L0.137058 11.1998C-0.0460117 11.3829 -0.0460117 11.6797 0.137058 11.8627C0.228582 11.9542 0.348558 12 0.468535 12C0.588511 12 0.708464 11.9542 0.800011 11.8627L5.99975 6.66295L11.1995 11.8627C11.291 11.9542 11.411 12 11.531 12C11.651 12 11.7709 11.9542 11.8625 11.8627C12.0455 11.6796 12.0455 11.3828 11.8625 11.1998L6.66271 6.00002Z" fill="#000")
     div.photo 
      img(src="assets/images/profile-1.png" alt="" title="")
     div.text-center.mt-4
      h3.title Contact Gary E.
      p.mt-2 Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et Dolore Magna Aliquyam Erat, Sed Diam
     form(action="#")
      div.row
       div.col-sm-6.fild
        input(type="text" class="form-control" placeholder="Enter your First name" name="Firstname"  autocomplete="off" autofocus required )
        label.floating-label First Name
       div.col-sm-6.fild
        input(type="text" class="form-control" placeholder="Enter your Last  name" name="Lastname"  autocomplete="off" autofocus required )
        label.floating-label Last  Name
       div.col-sm-12.fild
        input(type="email" class="form-control" placeholder="Enter your Email" name="Email"  autocomplete="off" autofocus required )
        label.floating-label Email
       div.col-sm-12.fild
        textarea(class="form-control" name="description" placeholder="Write your message here …" autocomplete="off" autofocus="" required="" )
        label.floating-label Message
      div.fild.bot-de.bot-card
        button(class="bottom" type="submit") Send
        a(href="#" class="bottom" data-dismiss="modal") Cancel 
 
 div(class="box-book-trial")
   div(class="modal-content")
     button(type="button" class="close clo-item") 
      svg(width="16" height="16" viewBox="0 0 12 12" f  xmlns="http://www.w3.org/2000/svg")
       path(d="M6.66271 6.00002L11.8625 0.800231C12.0455 0.617161 12.0455 0.320349 11.8625 0.137303C11.6794 -0.0457441 11.3826 -0.0457675 11.1995 0.137303L5.99975 5.33709L0.799987 0.137303C0.616917 -0.0457675 0.320105 -0.0457675 0.137058 0.137303C-0.0459882 0.320373 -0.0460117 0.617185 0.137058 0.800231L5.33682 6L0.137058 11.1998C-0.0460117 11.3829 -0.0460117 11.6797 0.137058 11.8627C0.228582 11.9542 0.348558 12 0.468535 12C0.588511 12 0.708464 11.9542 0.800011 11.8627L5.99975 6.66295L11.1995 11.8627C11.291 11.9542 11.411 12 11.531 12C11.651 12 11.7709 11.9542 11.8625 11.8627C12.0455 11.6796 12.0455 11.3828 11.8625 11.1998L6.66271 6.00002Z" fill="#000")
     div.photo 
      img(src="assets/images/profile-1.png" alt="" title="")
     div.text-center.mt-4
      h3.title Instant Booking
      p.mt-2  Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy
     div.responsive
            div
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
           
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
            div 
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
            div 
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
             
     div.bot-de.bot-card 
        button(class="bottom" type="submit") Next
        span(class="bottom clo-item") Cancel 
 