footer.footer 
 div.container
  div.row
   div.col-md-3.boxfot 
     img(src='assets/images/logo-footer.png' alt="Arabia" title="Arabia")    
     p.text  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s...
     nav.social
      a(class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook")
      a(class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter")
      a(class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram")
      a(class="fab fa-linkedin-in icon-linkedin" href="#" target="_blank" title="linkedin")
      a(class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube") 
      a(class="fab fa-google icon-gplus" href="#" target="_blank" title="google")
      //- a(class="fab fa-whatsapp icon-whatsapp" href="#" target="_blank" title="whatsapp")
   div.col-md-3.boxfot
    h6.title Services
    nav.navmenu 
      a(href='register.html') Register
      a(href='reviews.html') Reviews 
      a(href='placement-tests.html') Placement tests
      a(href='verify-certificate.html') Verify certificate
      a(href='cCareers.html')  Careers
   div.col-md-3.boxfot
    h6.title Quick Links
    nav.navmenu 
      a(href='index.html') Home
      a(href='aboutus.html') About Us 
      a(href='courses.html') Courses
      a(href='contactus.html') Contact Us
   div.col-md-3.boxfot 
    h6.title Contact
    div.textcontact
      p #[i(class="fas fa-map-marker-alt")] Lorem Ipsum Has Been The Industry’s Standard Dummy Text
      a(href='#') #[i(class="fas fa-envelope")]  info@yahoo.com
      a(href='#')  #[i(class="fas fa-phone")] 124578547895575  
      
    form(class="sendemail" method="POST" action="#")
     input(class="form-control" type="text" name="" value="" placeholder="Your email address")
     button(class="fas fa-arrow-alt-circle-right" type="submit")
     //- p.text-error There is an error, please try again  
  div.copyright
     p © Copyright 2020 Arabia | All Rights Reserved
 a(class="scrollToTop bottom" href="#") #[i(class="fas fa-chevron-up")]           
                  
      













