extend index

block pageindex 
 section.sign-up         
  div.container
   h1.title Change your password
   div.row
    div.col-sm-7.item
     form(action="#" method="")
      div.row
       div.col-sm-12.fild
        i(class="fas fa-eye-slash icon-pass")
        i(class="fas fa-eye icon-pass")
        input(type="password" class="form-control pass"  placeholder="Enter Password"  autocomplete="off" autofocus required)
        label.floating-label Password
       div.col-sm-12.fild.text-center
        button(class="bottom" type="submit") Reset Password
    div.col-sm-4.item.offset-sm-1
     img(src='assets/images/img-1.png' alt="Arabia" title="Arabia")
 