extend index

block pageindex 
 section.sign-up         
  div.container
   h1.title Forget Your Password
   div.row
    div.col-sm-7.item
     form(action="#" method="")
      div.row
       div.col-sm-12.fild
        input(type="text" class="form-control" placeholder="Enter your Email" autocomplete="off" autofocus required)
        label.floating-label Email
      
       div.col-sm-12.fild.text-center
        button(class="bottom" type="submit") Submit
    div.col-sm-4.item.offset-sm-1
     img(src='assets/images/img-1.png' alt="Arabia" title="Arabia")

 