header.header
   div.container
    div(class='logo')
     a(href='index.html') 
      img(src='assets/images/logo.png' alt="Arabia" title="Arabia")    
    div.detals.leave
     div(class="dropdown cog-item")
      a(href="#" class="dropdown-toggle fas fa-cog" data-toggle="dropdown")
      div(class="dropdown-menu")
        a(class="dropdown-item" href="#") report
        a(class="dropdown-item" href="#") Settings
        a(class="dropdown-item" href="#") Help
     a(href="#" class="bottom ") leave
//- End Header  
 