div.menubab
  div.container
   nav(class="setting-menu")
    a(href="index.html") Home
    a(href="aboutus.html") About Us
    a(href="findtutor.html") Find a Tutor
    a(href="become-tutor.html") Become a Tutor
    a(href="contactus.html") Contact Us
   nav.social
      a(class="fab fa-facebook-f icon-facebook" href="#" target="_blank" title="Facebook")
      a(class="fab fa-twitter icon-twitter" href="#" target="_blank" title="Twitter")
      a(class="fab fa-instagram icon-instagram" href="#" target="_blank" title="Instagram")
      a(class="fab fa-linkedin-in icon-linkedin" href="#" target="_blank" title="linkedin")
      a(class="fab fa-youtube icon-youtube" href="#" target="_blank" title="YouTube") 
      a(class="fab fa-google icon-gplus" href="#" target="_blank" title="google")
      //- a(class="fab fa-whatsapp icon-whatsapp" href="#" target="_blank" title="whatsapp")
section.slider
  div.slider-img
   img(src="assets/images/slider.png" alt="Arabia" title="Arabia")
  div.container
   div.row
    div.col-sm-6.item
     div.prod-slider
      - for (var x = 0; x < 2; x++)
          div.slider-item
           div.inner
            p.text-top Arabie is your way to.. 
            h2.title Speak like an <br/>Arabian 
            p.text-bot Meet hundreds of Arabic tutors to learn the language<br/> from it’s native source
            div.bottoms
             a(href="#") Find Tutor
             //a(href="#") Contact Us
//- End slider
section.consetetur
  div.container
   div.row
    div.col-sm-6.item
     i.b-1 #[img(src="assets/images/b-1.png" alt="Arabia" title="Arabia")]
     i.b-2 #[img(src="assets/images/b-2.png" alt="Arabia" title="Arabia")]
     i.b-3 #[img(src="assets/images/b-3.png" alt="Arabia" title="Arabia")]
     i.b-4 #[img(src="assets/images/b-4.png" alt="Arabia" title="Arabia")]
     div.bg-img
       img(src="assets/images/bg-img.png" alt="Arabia" title="Arabia")
     div.bg-photo
       img(src="assets/images/bg-photo.png" alt="Arabia" title="Arabia")
       a(class="bla-2 cd-single-point" href="https://youtu.be/uzOv001cbV4") 
        i(class="cd-img-replace") 
        i(class="fa fa-play innerbc")  
    div.col-sm-6.item
        h2.title Speak, Write, And Practice <br/> Arabic Easily On Arabie  
        p.text  At Arabie you can reach and choose between different tutors from all over the world. So regardless your aim behind learning, whether it’s for Islamic reasons, Tourism, Business needs or even just knowledge.<br/><br/> With a click you will get into one of the biggest Arabic Teaching platforms.
//- End consetetur
section.cons-tow
  div.container
   div.row
    div.col-sm-6.texitem
      div
        h2.title Based On Strong Four<br/>   Axes Arabie Has Been <br/>  Founded 
        p.text   The first and most solid factor is our expert tutors in terms of academic studies, skills, and experience. Second comes the online based platform accessible anywhere, regardless your time zone you can choose the time best works for you and your tutors. You can get both with the most affordable fees. So finally, you can join Arabie’s committed students from all over the world and reach the Arabic level you have been seeking.
    div.col-sm-6.item
      div.row
       div.col-sm-6.inner-bg
        div.in-text
         div.photo
          img(src="assets/images/img-22.png" alt="Arabia" title="Arabia") 
         h3.title-in Expert tutors
         p.text Find native speakers and certified private tutors
       div.col-sm-6.inner-bg
        div.in-text
         div.photo
          img(src="assets/images/img-33.png" alt="Arabia" title="Arabia") 
         h3.title-in Learn anytime
         p.text Take online lessons at the perfect time for your busy schedule
       div.col-sm-6.inner-bg
        div.in-text
         div.photo
          img(src="assets/images/img-11.png" alt="Arabia" title="Arabia") 
         h3.title-in Affordable prices
         p.text Choose an experienced tutor that fits your budget
       div.col-sm-6.inner-bg
        div.in-text
         div.photo
          img(src="assets/images/img-44.png" alt="Arabia" title="Arabia") 
         h3.title-in Comitted Students
         p.text Join hundreds of students learning and practicing Arabic with our verified tutors
//- End consetetur
section.register 
  div.container
    h3.title Register now
    h4.title-want You can now become an Arabie verified tutor
    p.text  To Reach foreign student from all over the world and getting featured.
    a(class="bottom" href="#") Register
//- End register
section.all-students 
  div.container
   h2.title #[span] Learning Testimonials
   p.texttop  Check what students think of Arabie
   div.row
       div.col-sm-4.item
        a(href="#" class="inner-bg")
         div.icon-svg
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.977" height="37.562" viewBox="0 0 44.977 37.562")
            defs 
              linearGradient(id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox")
               stop(offset="0" stop-color="#ba9a74")
               stop(offset="1" stop-color="#877456")
            g(id="left-quote" transform="translate(0 -7.858)")
             g(id="Group_117" data-name="Group 117" transform="translate(0 7.858)")
              path(id="Path_700" data-name="Path 700" d="M14.4,24.881A11.918,11.918,0,0,0,11.1,24.4a10.349,10.349,0,0,0-4.129.846c1.038-3.8,3.531-10.356,8.5-11.095a1.18,1.18,0,0,0,.962-.849L17.52,9.42a1.18,1.18,0,0,0-.976-1.486,8.245,8.245,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.358,15.133C-.387,28.219-.816,36.078,2.787,41.025a10.756,10.756,0,0,0,8.742,4.394h.046A10.464,10.464,0,0,0,14.4,24.881Z" transform="translate(0 -7.858)" fill="url(#linear-gradient)")
              path(id="Path_701" data-name="Path 701" d="M69.312,29.822a10.488,10.488,0,0,0-6.291-4.942,11.917,11.917,0,0,0-3.293-.481,10.351,10.351,0,0,0-4.13.846c1.038-3.8,3.531-10.356,8.5-11.095a1.181,1.181,0,0,0,.962-.849L66.146,9.42a1.18,1.18,0,0,0-.976-1.486,8.235,8.235,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.359,15.133-1.462,5.227-1.891,13.087,1.712,18.034a10.754,10.754,0,0,0,8.741,4.393H60.2a10.464,10.464,0,0,0,9.111-15.6Z" transform="translate(-25.685 -7.858)" fill="url(#linear-gradient)")
         div.photo
          img(src="assets/images/clip.png" alt="Arabia" title="Arabia")
         h4.name Jamie Carol
         ul.rating
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")  
         p.text  My learning sessions went excellent. I was pleased with all of the tips and personalized information given to help my specific needs in learning Arabic. 
       div.col-sm-4.item
        a(href="#" class="inner-bg")
         div.icon-svg
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.977" height="37.562" viewBox="0 0 44.977 37.562")
            defs 
              linearGradient(id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox")
               stop(offset="0" stop-color="#ba9a74")
               stop(offset="1" stop-color="#877456")
            g(id="left-quote" transform="translate(0 -7.858)")
             g(id="Group_117" data-name="Group 117" transform="translate(0 7.858)")
              path(id="Path_700" data-name="Path 700" d="M14.4,24.881A11.918,11.918,0,0,0,11.1,24.4a10.349,10.349,0,0,0-4.129.846c1.038-3.8,3.531-10.356,8.5-11.095a1.18,1.18,0,0,0,.962-.849L17.52,9.42a1.18,1.18,0,0,0-.976-1.486,8.245,8.245,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.358,15.133C-.387,28.219-.816,36.078,2.787,41.025a10.756,10.756,0,0,0,8.742,4.394h.046A10.464,10.464,0,0,0,14.4,24.881Z" transform="translate(0 -7.858)" fill="url(#linear-gradient)")
              path(id="Path_701" data-name="Path 701" d="M69.312,29.822a10.488,10.488,0,0,0-6.291-4.942,11.917,11.917,0,0,0-3.293-.481,10.351,10.351,0,0,0-4.13.846c1.038-3.8,3.531-10.356,8.5-11.095a1.181,1.181,0,0,0,.962-.849L66.146,9.42a1.18,1.18,0,0,0-.976-1.486,8.235,8.235,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.359,15.133-1.462,5.227-1.891,13.087,1.712,18.034a10.754,10.754,0,0,0,8.741,4.393H60.2a10.464,10.464,0,0,0,9.111-15.6Z" transform="translate(-25.685 -7.858)" fill="url(#linear-gradient)")
         div.photo
          img(src="assets/images/clip2.png" alt="Arabia" title="Arabia")
         h4.name Jamal Mcfee
         ul.rating
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")  
         p.text  I love Arabie. It was extremely helpful when I needed to read Quran. All of the tutors that I have had are great and are so helpful! This is the best idea for a website."
       div.col-sm-4.item
        a(href="#" class="inner-bg")
         div.icon-svg
          svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.977" height="37.562" viewBox="0 0 44.977 37.562")
            defs 
              linearGradient(id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox")
               stop(offset="0" stop-color="#ba9a74")
               stop(offset="1" stop-color="#877456")
            g(id="left-quote" transform="translate(0 -7.858)")
             g(id="Group_117" data-name="Group 117" transform="translate(0 7.858)")
              path(id="Path_700" data-name="Path 700" d="M14.4,24.881A11.918,11.918,0,0,0,11.1,24.4a10.349,10.349,0,0,0-4.129.846c1.038-3.8,3.531-10.356,8.5-11.095a1.18,1.18,0,0,0,.962-.849L17.52,9.42a1.18,1.18,0,0,0-.976-1.486,8.245,8.245,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.358,15.133C-.387,28.219-.816,36.078,2.787,41.025a10.756,10.756,0,0,0,8.742,4.394h.046A10.464,10.464,0,0,0,14.4,24.881Z" transform="translate(0 -7.858)" fill="url(#linear-gradient)")
              path(id="Path_701" data-name="Path 701" d="M69.312,29.822a10.488,10.488,0,0,0-6.291-4.942,11.917,11.917,0,0,0-3.293-.481,10.351,10.351,0,0,0-4.13.846c1.038-3.8,3.531-10.356,8.5-11.095a1.181,1.181,0,0,0,.962-.849L66.146,9.42a1.18,1.18,0,0,0-.976-1.486,8.235,8.235,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.359,15.133-1.462,5.227-1.891,13.087,1.712,18.034a10.754,10.754,0,0,0,8.741,4.393H60.2a10.464,10.464,0,0,0,9.111-15.6Z" transform="translate(-25.685 -7.858)" fill="url(#linear-gradient)")
         div.photo
          img(src="assets/images/clip3.png" alt="Arabia" title="Arabia")
         h4.name somya youssef
         ul.rating
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")
            li(class="fas fa-star")  
         p.text  The most reasonable fees with the best learning experience I ever had through my long Arabic learning journey 
//- End all-students                         
section.instructors 
  div.container
   h2.title #[span] Teaching Testimonials
   p.texttop Check what Tutors think of Arabie
   div.instructors-slider
     - for (var x = 0; x < 2; x++)
        div.slider-item
         div.row
          div.col-sm-6.item
            i.b-1 #[img(src="assets/images/b-1.png" alt="Arabia" title="Arabia")]
            i.b-2 #[img(src="assets/images/b-2.png" alt="Arabia" title="Arabia")]
            i.b-3 #[img(src="assets/images/b-3.png" alt="Arabia" title="Arabia")]
            i.b-4 #[img(src="assets/images/b-4.png" alt="Arabia" title="Arabia")]
            div.bg-img
             img(src="assets/images/bg-img.png" alt="Arabia" title="Arabia")
            div.bg-photo
             img(src="assets/images/bg2-photo.png" alt="Arabia" title="Arabia") 
          div.col-sm-6.item.flex
           div
            div.icon-svg
             svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.977" height="37.562" viewBox="0 0 44.977 37.562")
              defs 
               linearGradient(id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox")
                stop(offset="0" stop-color="#ba9a74")
                stop(offset="1" stop-color="#877456")
              g(id="left-quote" transform="translate(0 -7.858)")
               g(id="Group_117" data-name="Group 117" transform="translate(0 7.858)")
                path(id="Path_700" data-name="Path 700" d="M14.4,24.881A11.918,11.918,0,0,0,11.1,24.4a10.349,10.349,0,0,0-4.129.846c1.038-3.8,3.531-10.356,8.5-11.095a1.18,1.18,0,0,0,.962-.849L17.52,9.42a1.18,1.18,0,0,0-.976-1.486,8.245,8.245,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.358,15.133C-.387,28.219-.816,36.078,2.787,41.025a10.756,10.756,0,0,0,8.742,4.394h.046A10.464,10.464,0,0,0,14.4,24.881Z" transform="translate(0 -7.858)" fill="url(#linear-gradient)")
                path(id="Path_701" data-name="Path 701" d="M69.312,29.822a10.488,10.488,0,0,0-6.291-4.942,11.917,11.917,0,0,0-3.293-.481,10.351,10.351,0,0,0-4.13.846c1.038-3.8,3.531-10.356,8.5-11.095a1.181,1.181,0,0,0,.962-.849L66.146,9.42a1.18,1.18,0,0,0-.976-1.486,8.235,8.235,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.359,15.133-1.462,5.227-1.891,13.087,1.712,18.034a10.754,10.754,0,0,0,8.741,4.393H60.2a10.464,10.464,0,0,0,9.111-15.6Z" transform="translate(-25.685 -7.858)" fill="url(#linear-gradient)")
            p.text  I would like to take this opportunity to thank Arabie teams for all their help. The service offered has been professional and friendly. The administration side has worked seamlessly
            div.icon-svg.s-rot
             svg(xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="44.977" height="37.562" viewBox="0 0 44.977 37.562")
              defs 
               linearGradient(id="linear-gradient" x1="0.5" x2="0.5" y2="1" gradientUnits="objectBoundingBox")
                stop(offset="0" stop-color="#ba9a74")
                stop(offset="1" stop-color="#877456")
              g(id="left-quote" transform="translate(0 -7.858)")
               g(id="Group_117" data-name="Group 117" transform="translate(0 7.858)")
                path(id="Path_700" data-name="Path 700" d="M14.4,24.881A11.918,11.918,0,0,0,11.1,24.4a10.349,10.349,0,0,0-4.129.846c1.038-3.8,3.531-10.356,8.5-11.095a1.18,1.18,0,0,0,.962-.849L17.52,9.42a1.18,1.18,0,0,0-.976-1.486,8.245,8.245,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.358,15.133C-.387,28.219-.816,36.078,2.787,41.025a10.756,10.756,0,0,0,8.742,4.394h.046A10.464,10.464,0,0,0,14.4,24.881Z" transform="translate(0 -7.858)" fill="url(#linear-gradient)")
                path(id="Path_701" data-name="Path 701" d="M69.312,29.822a10.488,10.488,0,0,0-6.291-4.942,11.917,11.917,0,0,0-3.293-.481,10.351,10.351,0,0,0-4.13.846c1.038-3.8,3.531-10.356,8.5-11.095a1.181,1.181,0,0,0,.962-.849L66.146,9.42a1.18,1.18,0,0,0-.976-1.486,8.235,8.235,0,0,0-1.111-.075c-5.962,0-11.867,6.223-14.359,15.133-1.462,5.227-1.891,13.087,1.712,18.034a10.754,10.754,0,0,0,8.741,4.393H60.2a10.464,10.464,0,0,0,9.111-15.6Z" transform="translate(-25.685 -7.858)" fill="url(#linear-gradient)")
            h2.title Farida Osama
            span.pos Freelance Arabic Tutor
//- End instructors 
section.how-does 
  div.container
   h2.title #[span] How does Arabie works
   p.texttop  Here is the quick journey you will get into with Arabie
   div.se-items
    div.row
     div.col-sm-6.it-text
      div
       h2.title-dos #[span 1] Find the best tutor
       p.text Choose from over 12,000 online tutors. Use filters to narrow your search and find the perfect fit For You .
     div.col-sm-6.item      
      img(src="assets/images/how-1.png" alt="Arabia" title="Arabia")
   div.se-items
    div.row
     div.col-sm-6.item      
      img(src="assets/images/how-2.png" alt="Arabia" title="Arabia")  
     div.col-sm-6.it-text
      div
       h2.title-dos #[span 2] Anytime Anywhere Learning
       p.text No matter how busy you schedule is, with arabie you always be able to make your sessions on your free time. 
   div.se-items
    div.row
     div.col-sm-6.it-text
      div
       h2.title-dos #[span 3] Classroom Virtual Simulation 
       p.text When it’s Class time you will connect with your tutor though Arabie’s Video platform for more seriousness and better learning experience. 
     div.col-sm-6.item      
      img(src="assets/images/how-3.png" alt="Arabia" title="Arabia")    
//- End how-does 
section.conslast
  div.container
   div.item-img
    img(src="assets/images/conslast.png" alt="Arabia" title="Arabia") 
   h2.title 100% Satisfaction Guarantee
   p.text If you are not satisfied with your trial lesson, we will give you a free<br/> replacement with another tutor or a full refund
//- End consetetur







