block pageindex

 section.sign-up
  div.container
   h1.title Sign up as a student 
   div.row
    div.col-sm-7.item
     form(action="#" method="")
      div.row
       div.col-sm-6.fild
        input(type="text" class="form-control" placeholder="Enter your First name" autocomplete="off" autofocus required )
        label.floating-label First Name
       div.col-sm-6.fild
        input(type="text" class="form-control" placeholder="Enter your Last name" autocomplete="off" autofocus required)
        label.floating-label Last Name
       div.col-sm-12.fild
        input(type="text" class="form-control" placeholder="Enter your Email" autocomplete="off" autofocus required)
        label.floating-label  Email
       div.col-sm-12.fild
        i(class="fas fa-eye-slash icon-pass")
        i(class="fas fa-eye icon-pass")
        input(type="password" class="form-control pass"  placeholder="Enter password" autocomplete="off" autofocus required)
        label.floating-label  Password
       div.col-sm-12.fild
         label.che-box
           input(type="checkbox" name="checkbox")
           span.label-text Remember me
       div.col-sm-12.fild
        p.text By signing up, I agree to xxxx.com 
         a(href="#") Terms of Conditions and Privacy Policy.
       div.col-sm-12.fild.text-center
        button(class="bottom" type="submit") Signup
        p.text Or signup  using
        nav.social
          a(href="#" title="Facebook") #[img(src='assets/images/facebook.png' alt="" title="")]
          a(href="#" title="google")   #[img(src='assets/images/google.png' alt="" title="")]
    div.col-sm-4.item.offset-sm-1
     img(src='assets/images/img-1.png' alt="Arabia" title="Arabia")
     div.fild.text-center
      p.text.ithave #[a(href="#") Already have an account?]  
      a(href="login.html" class="bottom") login
 