extend index

block pageindex
 
 div.menubab
  div.container
   nav(class="setting-menu")
    a(href="mssages.html") Messages
    a(href="my-lessons.html") My lessons
    a(href="my-teachers.html" class="active") My Teachers
    a(href="learning-plan.html") Learning Plan
    a(href="my-profile.html") My profile
    a(href="settings.html") Settings
 section.my-teachers
  div.container
    div.row
     div.col-sm-5.teach-item
       div.item-les.remaining 
         div.sec-les
          div.img
           img(src='assets/images/profile-1.png' alt="Arabia" title="Arabia")
          p Your remaining balance <br/>with Maria D.
          h4.title 1 hour
          a(href="#buy-hours" data-toggle="modal" class="bottom") Buy Hours
         form(action="#")
          div.fild
           i(class="fas fa-chevron-down iconsel")
           select(class="form-control" name="hour" autocomplete="off" required)
            option 
            option 1 hour
            option 1 hour
            option 1 hour
           label.floating-label Lesson Duration  
     div.col-sm-7.teach-item
        div.row
         div.col-sm-6.fild
          ul(class="nav nav-tabs" id="myTab" role="tablist")
           li.nav-item
            a(class="nav-link active" id="weekly-tab" data-toggle="tab" href="#weekly"  role="tab" aria-controls="weekly" aria-selected="true") Weekly
           li.nav-item
            a(class="nav-link"  id="one-by-one-tab" data-toggle="tab" href="#one-by-one" role="tab" aria-controls="one-by-one"  aria-selected="false") One By One
        div(class="tab-content" id="myTabContent")
         div(class="tab-pane fade show active" id="weekly"  role="tabpanel" aria-labelledby="weekly-tab") 
          div.item-les.user-dat
           div.responsive
            div
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
           
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active act-color")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
            div 
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active act-color")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
            div 
             div.between
              p.day-ma September 14, 2020 - September 21, 2020
              p.timezone #[i(class="fas fa-globe-americas")] Times are shown in your local timezone
              p.textsacand #[i(class="fas fa-info-circle")]  At least 2 days notice between the schedule and your first lesson
             div.num-book 
              div.row
               div.col.innerbook
                div.innernum.active 
                 p.sat.active Sat
                 div.numb.active  10
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Sun
                 div.numb  11
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
                  a(href="#" class="active") 03:00
               div.col.innerbook
                div.innernum.active 
                 p.sat Mon
                 div.numb  12
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Tue
                 div.numb  13
                 nav.listnum 
                  a(href="#" class="active") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Wed
                 div.numb  14
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum 
                 p.sat Thu
                 div.numb  15
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
                  a(href="#") 03:00
               div.col.innerbook
                div.innernum.active  
                 p.sat Fri
                 div.numb  16
                 nav.listnum 
                  a(href="#" class="active")  03:00
                  a(href="#") 03:00
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
                  a(href="#") Booked
           
          div.bot-de.bot-card 
            a(class="bottom"  href="#confirm-time"  data-toggle="modal") Confirm New Time
            a(href="#" class="bottom") Cancel 
         div(class="tab-pane fade" id="one-by-one"  role="tabpanel" aria-labelledby="one-by-one-tab")  
          div.item-les.user-dat 222
            

 div(id="buy-hours" class="modal fade" role="dialog")
  div(class="modal-dialog buy-item")
   div(class="modal-content")
    div.pop-det
     button(type="button" class="close" data-dismiss="modal") 
      svg(width="16" height="16" viewBox="0 0 12 12" f  xmlns="http://www.w3.org/2000/svg")
       path(d="M6.66271 6.00002L11.8625 0.800231C12.0455 0.617161 12.0455 0.320349 11.8625 0.137303C11.6794 -0.0457441 11.3826 -0.0457675 11.1995 0.137303L5.99975 5.33709L0.799987 0.137303C0.616917 -0.0457675 0.320105 -0.0457675 0.137058 0.137303C-0.0459882 0.320373 -0.0460117 0.617185 0.137058 0.800231L5.33682 6L0.137058 11.1998C-0.0460117 11.3829 -0.0460117 11.6797 0.137058 11.8627C0.228582 11.9542 0.348558 12 0.468535 12C0.588511 12 0.708464 11.9542 0.800011 11.8627L5.99975 6.66295L11.1995 11.8627C11.291 11.9542 11.411 12 11.531 12C11.651 12 11.7709 11.9542 11.8625 11.8627C12.0455 11.6796 12.0455 11.3828 11.8625 11.1998L6.66271 6.00002Z" fill="#000")
     div.text-center
      h3.title Learning is effective when it’s regular. <br/>Get a package to stay on track.
     div.buyhours
      div.item-buyhours
       img(src='assets/images/light.png' alt="Arabia" title="Arabia")
       h5.title Casual
       div.hours-text
        p 6
        span Hours
       p.number $5.00 per hour
       a(href="#" class="bottom") Choose 
      div.item-buyhours
       img(src='assets/images/plane.png' alt="Arabia" title="Arabia")
       h5.title Dedicated
       div.hours-text
        p 12
        span Hours
       p.number $4.90 per hour
       p.green You save $1.2
       a(href="#" class="bottom") Choose 
      div.item-buyhours
        img(src='assets/images/rocket.png' alt="Arabia" title="Arabia")
        h5.title Unstoppable
        div.hours-text
         p 20
         span Hours
        p.number $5.00 per hour
        p.green You save $1.2
        a(href="#" class="bottom") Choose 

     div.fild.bot-de.bot-card
        p.text-ho #[img(src='assets/images/text-ho.png' alt="Arabia" title="Arabia")] If your lesson does not take place, or you are not satisfied with the tutor, we will provide you with a free replacement to another tutor of your choice or offer you a full refund."
 