script(src='assets/js/jquery.js')
script(src="assets/js/popper.min.js")
script(src='assets/js/bootstrap.min.js')
script(src="assets/js/jquery-steps.js")
script(src="assets/js/jquery.validate.js")
script(src="assets/js/intlTelInput.js")
script(src="assets/js/imageuploadify.min.js")
script(src="assets/js/chosen.proto.js")
script(src="assets/js/jquery-price.js")
script(src="assets/js/stickySidebar.js")
script(src="assets/js/slick.js")
script(src="assets/js/moment-with-locales.min.js")
script(src="assets/js/jquery.touchSwipe.min.js")
script(src="assets/js/jquery-calendar.min.js")
script(src="assets/js/grt-youtube-popup.js")
script(src='assets/js/plugin.js') 
 


 
